/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	background: #122d5c url('/media/images/background.png') no-repeat top center;
}

:focus {
	outline: 1;
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

@font-face {
	font-family: 'DroidSansRegular';
	src: url('/media/misc/fonts/DroidSans-webfont.eot');
	src: local('☺'), url('/media/misc/fonts/DroidSans-webfont.woff') format('woff'), url('/media/misc/fonts/DroidSans-webfont.ttf') format('truetype'), url('/media/misc/fonts/DroidSans-webfont.svg#webfontKYIQSBQk') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DroidSansBold';
	src: url('/media/misc/fonts/DroidSans-Bold-webfont.eot');
	src: local('☺'), url('/media/misc/fonts/DroidSans-Bold-webfont.woff') format('woff'), url('/media/misc/fonts/DroidSans-Bold-webfont.ttf') format('truetype'), url('/media/misc/fonts/DroidSans-Bold-webfont.svg#webfontljpTCDjw') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatzThin';
	src: url('/media/misc/fonts/YanoneKaffeesatz-Thin-webfont.eot');
	src: local('☺'), url('/media/misc/fonts/YanoneKaffeesatz-Thin-webfont.woff') format('woff'), url('/media/misc/fonts/YanoneKaffeesatz-Thin-webfont.ttf') format('truetype'), url('/media/misc/fonts/YanoneKaffeesatz-Thin-webfont.svg#webfontstW7OZ4L') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatzLight';
	src: url('/media/misc/fonts/YanoneKaffeesatz-Light-webfont.eot');
	src: local('☺'), url('/media/misc/fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'), url('/media/misc/fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'), url('/media/misc/fonts/YanoneKaffeesatz-Light-webfont.svg#webfontn9MifoRW') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatzRegular';
	src: url('/media/misc/fonts/YanoneKaffeesatz-Regular-webfont.eot');
	src: local('☺'), url('/media/misc/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('/media/misc/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('/media/misc/fonts/YanoneKaffeesatz-Regular-webfont.svg#webfontlKPF1zIT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatzBold';
	src: url('/media/misc/fonts/YanoneKaffeesatz-Bold-webfont.eot');
	src: local('☺'), url('/media/misc/fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'), url('/media/misc/fonts/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'), url('/media/misc/fonts/YanoneKaffeesatz-Bold-webfont.svg#webfontPj13Lbsm') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
}

#viewport {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	color:#fff;
	-webkit-transform: translate3d(0,0,0); /* power up the engines */
}

#scene {
	width:100%;
	height:100%;
	-webkit-transition: all 500ms ease;
}
	
.tweet {
	position: absolute;
	display: inline-block;
	background: #040a14;

	border: 1px solid #888;
	padding: 8px;
	visibility: hidden;
}

.tweet img {
	float: left;
	width: 73px;
	height: 73px;
}

.tweet p {
	margin-left: 81px;
	font: 18px DroidSansRegular, Arial, Helvetica Neue, sans-serif;
}

.tweet p.username {
	color: #9dd73f;
	text-align: right;
	font: 18px DroidSansBold, Arial, Helvetica Neue, sans-serif;
}

.tweet:hover {
	background: #555;
}

aside {
	display:inline-block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	color:#fff;
	font: 32px DroidSansRegular, Arial, Helvetica Neue, sans-serif;
	line-height:48px;
	height:48px;
}

.logo {
	margin: 0 16px;
	width:160px;
}

.keyword {
	font-weight:bold;
}

.or {
	color: #999;
	font-size:24px;
}

header {
	width: 100%;
	height: 64px;
	background: #122d5c;
	border-bottom:1px solid #000;
	position: absolute;
	z-index: 2;
}

header h1 {
	font: 50px YanoneKaffeesatzBold, Arial, Helvetica Neue, sans-serif;
	color: #9dd73f;
	text-shadow: 1px 2px 3px #000;
	line-height: 64px;
	letter-spacing: -2px;
}

header span {
	font: 20px YanoneKaffeesatzRegular, Arial, Helvetica Neue, sans-serif;
	position:relative;
	top: -24px;
	color: #faa51a;
	letter-spacing:-1px;
	display: inline-block;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
}
