<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>404 - file not found</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.png"/>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"><\/script>')</script>
	</head>
	<body>
		<section class="c12">
			<header class="g12">
				<h1>hashfeedr<span>beta</span></h1>
				<p>check ze tweets</p>
			</header>
	
			<article class="g6">
				<h2 class="error">404 - file not found</h2>
				<p>Boy are we sorry, but the URL that you've requested can't be found on our servers. Try visiting <a href="/">our index</a> instead.</p>
	
			</article>
			<footer class="g12">
				<p><small>&copy; Copyright Hashfeedr 2010. Use HTML5 enabled browsers or die.</small></p>
			</footer>
		</section>
	</body>
</html>
