<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.png"/>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" media="all" />
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"><\/script>')</script>
		{% block js %}{% endblock %}
	</head>
	<body>
		<section class="c12">
			<header class="g12">
				<h1>hashfeedr<span>beta</span></h1>
				<p>check ze tweets</p>
			</header>
			{% block body %}{% endblock %}
			<footer class="g12">
				<a href="http://djangopony.com/" class="ponybadge" title="Magic! Ponies! Django! Whee!"><img src="http://media.djangopony.com/img/small/badge.png" width="210" height="65" alt="pony powered"/></a>
				<p><small>&copy; Copyright Hashfeedr 2010. Built by <a href="http://twitter.com/thedjinn">Emil Loer</a>, <a href="http://twitter.com/michielheijkoop">Michiel Heijkoop</a> and <a href="http://twitter.com/pnoordhuis">Pieter Noordhuis</a> for the Django Dash 2010.</small></p>
			</footer>
		</section>
	</body>
</html>
