<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"0>
		<title>hashfeedr</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/feedr.css">
	</head>
	<body>
		<header>
			<aside class="logo">
				<a href="/"><h1>hashfeedr<span>beta</span></h1></a>
			</aside>
			{% for kw in keywords %}
				<aside class="keyword">
					{{ kw }}
				</aside>
				{% if not forloop.last %}
					<aside class="or">
						or
					</aside>
				{% endif %}
			{% endfor %}
		</header>
		<div id="viewport"><div id="scene"></div></div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}/js/jquery-1.4.2.min.js"><\/script>')</script>
		<script src="{{ MEDIA_URL }}misc/web-socket-js/swfobject.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ MEDIA_URL }}misc/web-socket-js/FABridge.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{ MEDIA_URL }}misc/web-socket-js/web_socket.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			WEB_SOCKET_SWF_LOCATION = "{{ MEDIA_URL }}misc/web-socket-js/WebSocketMain.swf";
			WEB_SOCKET_DEBUG = true;
		</script>
		<script src="{{ MEDIA_URL}}js/feedr.js" type="text/javascript"></script>
		<script src="{{ MEDIA_URL }}js/searchapi.js" type="text/javascript"></script>
		<script>
		var websocket_url = '{{ websocket_url }}';
		
		// contains some initial tweets to visualize if applicable
		{% if initialtweets.length > 0 %}
			$(function() {
				{% for tw in initialtweets %}
				parsemessage({{ tw }});
				{% endfor %}
		    });
		{% else %}
			$(function() {
				initFromSearchAPI('{{ keyword }}');
			});
		{% endif %}
		</script>
	</body>
</html>
