{% extends "base.html" %}

{% block title %}hashfeedr{% endblock %}

{% block js %}
<script src="{{ MEDIA_URL }}js/landing.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
			<article class="g12">
				<form action="/gofeed" method="GET" id="queryform" class="clearfix">
					<input type="submit" id="gobutton" value="Go!"/>
					<input type="text" name="query" id="query" value="#djangodash"/>
				</form>
				<!--<h2>Getting Started</h2>
				<p>To get started, simply enter a hashtag in the big box below and hit the big button. Multiple tags are allowed.</p>-->
			</article>
			<article class="g6">
				<h2>About Hashfeedr</h2>
				<p>Hashfeedr is a real-time Twitter tracker designed to run on a big screen (e.g. a beamer) to provide the necessary &ldquo;twentertainment&rdquo; at your next party or display what the customers are tweeting about your company by running hashfeedr at the office.</p>
				<p>Hashfeedr is completely event-driven and uses <a href="http://www.djangoproject.com/">Django</a>, <a href="http://twistedmatrix.com">Twisted</a>, <a href="http://redis.io/">Redis</a>, <a href="http://en.wikipedia.org/wiki/WebSockets">HTML5 WebSockets</a> and the Twitter <a href="http://dev.twitter.com/pages/streaming_api">streaming API</a> to provide you with tweets in mere microseconds. You'll be amazed to see how quickly your tweets appear after posting them to Twitter.</p>
				<h2>Supported Browsers</h2>
				<p>Because hashfeedr uses bleeding edge technology like WebSockets, HTML5 and CSS3, not all browsers are currently supported. For a smooth experience we recommend using either a recent version of Safari, Google Chrome or Firefox 4. Thanks to a fallback on Flash, things should also run on Firefox 3.6, but possibly less smoothly. No version of Internet Explorer is supported for the time being.</p>
			
			</article>
			<article class="g6">
				<h2>Getting Started</h2>
				<p>To get started, simply enter a hashtag in the big box above and hit the big button. Multiple tags are allowed.</p>
				<h2>Popular active hashfeeds</h2>
				<ul>
					{% for keyword in toptweets %}
						<li><a href="/feed/{{ keyword.1 }}">{{ keyword.0 }} ({{ keyword.2|floatformat:0 }})</a></li>
					{% endfor %}
				</ul>
				<h2>Statistics</h2>
				Currently feeding {{ tpm|floatformat:0 }} tweet{{ tpm|pluralize }} per minute, serving {{ streams|floatformat:0 }} concurrent session{{ streams|pluralize }}.
			</article>
{% endblock %}
