<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Hashfeeder</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css">
	</head>
	<body>
		<h1>HashFeedr</h1>
		<h2>Getting started</h2>
		<p>
		To get started, simply enter a hashtag in the big box below and hit the big button
		<form action="." method="POST">
		{% csrf_token %}
		{{ form.as_p}}
		<input type="submit" id="gobutton" value="Big Button">
		</form>
		</p>
		<h2>Popular active hashfeeds</h2>
		<ul><li><a href="/feed/justin">Justin</a></li><li><a href="/feed/biebergasm">Bieber</a></li></ul>
		<h2>About HashFeedr</h2>
		<p>There is no time for this.</p>
		
	</body>
</html>
