<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Hashfeeder</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/global.css">
	</head>
	<body>
		<h1>HashFeedr</h1>
		<h2>Getting started</h2>
		<p>
		To get started, simply enter a hashtag in the big box below and hit the big button
		<form action="/gofeed" method="GET" id="queryform">
		<input type="text" name="query" id="query" value="#djangodash">
		<input type="submit" id="gobutton" value="Big Button">
		</form>
		</p>
		<h2>Popular active hashfeeds</h2>
		<ul>
		{% for keyword in toptweets %}
		<li><a href="/feed/{{ keyword.1 }}">{{ keyword.0 }}</a></li>
		{% endfor %}
		</ul>
		<h2>About HashFeedr</h2>
		<p>There is no time for this.</p>
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script>!window.jQuery && document.write('<script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"><\/script>')</script>
		<script src="{{ MEDIA_URL }}js/landing.js"></script>
		
	</body>
</html>
